# База данных
DB_NAME=vara_my
DB_USER=vara
DB_PASSWORD=vara

# JWT
JWT_SECRET=mySecretKeyForJWTTokenGenerationMustBeAtLeast32CharactersLong

# Приложение
SPRING_PROFILES_ACTIVE=prod
APP_BASE_URL=http://localhost:8081
CORS_ALLOWED_ORIGINS=http://localhost:3000